/* .css 파일은 영역 전체가 style 태그로 감싸져있다고 생각하면 됨 => 스타일 정보를 바로 기입할 수 있다.*/
h2{color: red;}

/* 1. 속성선택자 --------------------------------------------------- */

/* = : div요소들 중 name속성 값이 name1과 정확히 "일치"하는 요소 */
div[name=name1] {
    background-color: orangered;
}

/* ~= : div요소들 중 name속성 값이 name1을 "포함"하는 요소 
    키워드로는 안되고 공백으로 구분, 한 단어를 정확히 포함해야함.
     ex) name1 (O), na(X)
*/
div[name~=name1] {
    background-color: yellow;
}

/* |= : div요소들 중 class 속성 값이 class로 "시작"하는 요소 (-로 구분)
        ~=와 마찬가지로 한 단어를 정확히 포함해야함.
*/
div[class|=class] {
    background-color: cyan;
}

/* ^= : div요소들 중 name 속성 값이 na로 "시작"하는 요소 
        키워드로 적용 가능함
*/
div[name^=na] {
    background-color: blue;
}

/* $= : div요소들 중 class속성 값이 ss로 "끝"나는 요소  */
div[class$=ss] {
    color: white;
}

/* *= : div요소들 중 class속성 값이 i를 "포함"하는 요소  */
div[class*=i] {
    background-color: yellow;
    color: red;
}

/* 응용: class 속성 값이 div-class인 요소들 중 name속성값에 name3이 포함 되어 있는 요소 => background-color를 pink */
.div-class[name~=name3] {
    background-color: pink;
}


/* 2. 자손선택자와 후손선택자 ----------------------------- */
/* a>b: a의 요소의 자손들 중에서 b 요소만 선택 */

/* #test1>* {background-color: pink;}
id가 test1의 자손 모두를 선택 */

/* id가 test1인 요소의 자손들 중 h4요소만 선택 */
#test1>h4{
    background-color: orangered;
}

/*
#test1>li{
    background-color: darkcyan;
} 

test1의 자손 중 li가 없음
*/

/* test1의 자손인 ul의 자손인 li */
#test1>ul>li{
    background-color: darkcyan;
}

/* a b: a요소의 후손(모든 하위요소)들 중에서 b요소만 선택 */
#test1 li{
    color: red;
}

/* 3. 동위선택자 -------------------------------------------- */
#test2+div{
    background-color: yellow;
}

/* id가 test2 "바로" 뒤에는 ul이 아닌 div가 있으므로 의도한대로 적용이 되지 않음 */
/* 
#test2+ul{
    background-color: pink;
}

제대로 선택 안됨(바로 뒤에 있는 요소가 아니기 때문)
*/

/*
#test2~div{
    background-color: green;
}
*/

#test2~ul{
    background-color: deeppink;
}

/* 4. 반응선택자 ------------------------------------------------- */
.area {
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#active-test:active{
    background-color: yellow;
    color: red;
}

#hover-test:hover{
    background-color: maroon;
    color: white;
}

/* 5. 상태선택자 -------------------------------------------------- */
input[type=checkbox]:checked{
    width: 20px;
    height: 20px;
}

input[type=checkbox]:checked+label{
    font-size: 20px;
}

input[name^=user]:focus{
    background-color: pink;
}

button:enabled{
    background-color: violet;
}

button:disabled{
    background-color: yellowgreen;
}